$background-default: no-repeat center/cover;
$radius: 20px;
$width-total:100%;
$color:#F0EF00;
$yellow-shadow: 6px 7px 0px $color;
$black: black;
$montserrat:"Montserrat",Arial, Helvetica, sans-serif;
%phrase {
    font-family: $montserrat,Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 100;
}
%strong {
    color: $color;
}
.dheader{
    width: $width-total;
}
.gethealthy{
    height: 180px;
    .stick{
        background-color: #f0f000;
        width: 1px;
        height: 44px;
    }
    .phrase1 {
        @extend %phrase;
        padding-left: 10px;
        font-size: 30px;
    }
    .phrase2{
        @extend %phrase;
    }
    span{
        background-color: $color;
        color: black;
        border-radius: 14px;
        font-weight: 600;
    }
    p {
        strong {
            color: $color;
        }
    }
}
.header{
  background: url("../images/background-cell.jpg") $background-default;
  width: 100%;
  height: 500px;
  color: white;
  border-radius: $radius;
}
div.nav a{
    padding: 7px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 100px;
}
section{
    article{
        margin-bottom: 20px;
        .us-ico{
            background-image: url(../images/stick-yellow.png);
            background-position: center;
            width: 60px; 
            height: 60px;
        }
        .us{
            background-color: black;
            color: white;
            height: 90px;
            border-radius: $radius;
            width: $width-total;
            box-shadow: $yellow-shadow;
                 p {
            font-family: $montserrat;
            font-size: 30px;
            font-weight: 400;
            margin: 0px;
            color: $color;

            }
        } 
        }
    }

.plans{
    height: auto;
    width: $width-total;
    background-color: $black;
    border-radius: $radius;
    .sign{
        height: 400px;
        width: 300px;
        text-align: center;
        border-radius: $radius;
        box-shadow: -4px 4px 30px rgba(197, 128, 0, 0.308);
        overflow: hidden;
        .img{
            height: 100%;
        }
        div{
            img{
                border-radius: $radius;
                width: 100%;
                height: 100%;
            }
            p{
                margin: 0px;
                color: yellow;
                background-color: #070707;
                padding: 10px;
            }
            p.tittle{
                font-size: 30px;
                font-weight: 500;
                font-family: $montserrat;
            }
            p.info-card{
                font-size: 20px;
                font-weight: 700;

            }
        }
    }
} 



